services:
  # RabbitMQ Message Broker
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - microservices-network

  # User Service (gRPC)
  user-service:
    build:
      context: .
      dockerfile: ./apps/user-service/Dockerfile
    container_name: user-service
    ports:
      - "50051:50051"
    environment:
      GRPC_URL: 0.0.0.0:50051
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-network

  # Payment Service (gRPC)
  payment-service:
    build:
      context: .
      dockerfile: ./apps/payment-service/Dockerfile
    container_name: payment-service
    ports:
      - "50052:50052"
    environment:
      GRPC_URL: 0.0.0.0:50052
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-network

  # Notification Service (RabbitMQ Consumer)
  notification-service:
    build:
      context: .
      dockerfile: ./apps/notification-service/Dockerfile
    container_name: notification-service
    environment:
      RABBITMQ_URL: amqp://admin:admin@rabbitmq:5672
      NODE_ENV: development
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-network

  # API Gateway (HTTP REST)
  api-gateway:
    build:
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      USER_SERVICE_URL: user-service:50051
      PAYMENT_SERVICE_URL: payment-service:50052
    depends_on:
      - user-service
      - payment-service
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge

volumes:
  rabbitmq_data:
