<h2>Account Deleted</h2>
<p>Your account has been successfully deleted.</p>
<p>We're sorry to see you go. If you ever want to come back, you're always welcome!</p>
<div class="highlight-box info">
  <p>All your personal data has been removed from our systems.</p>
</div>
<p>Best regards,<br>The Team</p>
