<h2>Welcome, {{name}}!</h2>
<p>Your account has been successfully created using {{providerText}}.</p>
<p>You can now access all features of our platform.</p>
<div class="highlight-box success">
  <p><strong>Account created with {{provider}} authentication</strong></p>
</div>
<p>Here's what you can do next:</p>
<ul>
  <li>Complete your profile</li>
  <li>Explore our features</li>
  <li>Start using our services</li>
</ul>
<p>Best regards,<br>The Team</p>
