<h2>Password Reset Request</h2>
<p>We received a request to reset your password.</p>
<p>Click the button below to reset your password:</p>
<div style="text-align: center; margin: 30px 0;">
  <a href="{{resetLink}}" class="button">Reset Password</a>
</div>
<div class="highlight-box warning">
  <p>This link will expire at {{expiresAt}}.</p>
  <p>If you didn't request this password reset, you can safely ignore this email.</p>
</div>
<p>Best regards,<br>The Team</p>
